{% extends 'base.html' %}
{%load static%}
{%block link%}
    <link rel = "stylesheet" href = "{%static "blog_posts/all_posts.css"%}">
    <link rel = "stylesheet" href = "{%static "blog_posts/post.css"%}">
{%endblock%}
{%block content%}
    <form method = "POST">
        {% csrf_token %}
        {%for field in form%}
            {{field.label_tag}}
            <br>
            {{field}}
            <br>
        {%endfor%}
        <br>
        <input type = "submit">
    </form>
    {%if error%}
        <ul>
            <li>{{error}}</li>
        </ul>
    {%endif%}
    {%if login%}
        <p>Don't have an account?</p>
        <p>Rgister <a href = {%url 'register'%}>here</a></p>
    {%else%}
        <p>Already registered?</p>
        <p>Sign in <a href = {%url 'login'%}>here</a></p>
    {%endif%}
{%endblock%}